@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSansBold.woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSansRegular.woff");
    font-weight: normal;
    font-style: normal;
}
