//сolours
$primary-dark: #414a4f;
$primary-mid: #f7f7f7;
$primary-light: #ffffff;
$accent: #2196F3;

//functional variables
//text color
$text-dark: $primary-dark;
$text-light: $primary-light;

// typography
$font-family: "OpenSans";
$h1: 60px;
$h2: 24px;
$h3: 32px;
$h4: 20px;
$quote: 22px;
$p: 16px;
